# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
*.sqlite3-journal

# Media
media/
staticfiles/
static/

# Environment / virtualenv
.env
.venv/
venv/
ENV/
env/
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Coverage / testing
htmlcov/
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Logs
logs/
*.log

# Temporary files
*.tmp
*.swp

# SQLite database
/*.sqlite3
/*.sqlite3-journal
